[build]
  Command = "npm run updateReleaseOnSentry && npm run generate"
  Functions = "lambda"
  Publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Link = [
    "<https://res.cloudinary.com/democratsabroad/image/upload/f_auto,q_auto/v1521002249/votefromabroad-bg.jpg>; rel=preload; as=image",
    "</vfa_blue.svg>; rel=preload; as=image",
    "</flags/4x3/us.svg>; rel=preload; as=image"
    ]

[[redirects]]
from = "/api/countries/"
to = "http://country.io/names.json"
status = 200
force = false

[[redirects]]
from = "/api/place/*"
to = "https://maps.googleapis.com/maps/api/place/:splat"
status = 200
force = false

[[redirects]]
from = "/api/mailer"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/mailer"
to = "https://wrf61cdmm6.execute-api.us-east-1.amazonaws.com/dev/mailer"
status = 200
force = false

[[redirects]]
from = "/api/mail"
to = "https://api.mailgun.net/v3/mail.votefromabroad.org"
status = 200
force = false

[[redirects]]
from = "/functions/*"
to = "https://feat-functions--votefromabroad.netlify.com/.netlify/functions/:splat"
status = 200
force = false

[[redirects]]
from = "/api/fpca"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/fpca"
to = "https://cjekj8uve1.execute-api.us-east-1.amazonaws.com/dev/fpca"
status = 200
force = false

[[redirects]]
from = "/*"
to = "/:splat?country=hk"
status = 200
force = false
conditions = {Country = ["HK"]}

[[redirects]]
from = "http://votefromabroad.netlify.com/*"
to = "https://votefromabroad.netlify.com/:splat"
status = 301
force = true
