[build]
  Command = "npm run updateReleaseOnSentry && npm run generate"
  Functions = "lambda"
  Publish = "dist"

[context.production.environment]
  DEVSTAGE = "prod"

[context.dev.environment]
  DEVSTAGE = "dev"

[context.students.environment]
  DEVSTAGE = "prod"
  IS_STUDENT_SITE = "true"

[[redirects]]
from = "/api/place/*"
to = "https://maps.googleapis.com/maps/api/place/:splat"
status = 200
force = false

[[redirects]]
from = "/api/mailer"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/mailer"
to = "https://37aze90rvd.execute-api.us-east-1.amazonaws.com/prod/mailer" # prod
# to = "https://uf25owq668.execute-api.us-east-1.amazonaws.com/dev/mailer" # dev
status = 200
force = false

[[redirects]]
from = "/api/fpca"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/fpca"
to = "https://37aze90rvd.execute-api.us-east-1.amazonaws.com/prod/pdf" # production
# to = "https://uf25owq668.execute-api.us-east-1.amazonaws.com/dev/pdf" # dev
status = 200
force = false

[[redirects]]
from = "/api/mailer/dev"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/mailer"
# to = "https://37aze90rvd.execute-api.us-east-1.amazonaws.com/prod/mailer" # prod
to = "https://uf25owq668.execute-api.us-east-1.amazonaws.com/dev/mailer" # dev
status = 200
force = false

[[redirects]]
from = "/api/fpca/dev"
# to = "https://svj2ivekgi.execute-api.us-east-1.amazonaws.com/dev/fpca"
# to = "https://37aze90rvd.execute-api.us-east-1.amazonaws.com/prod/pdf" # production
to = "https://uf25owq668.execute-api.us-east-1.amazonaws.com/dev/pdf" # dev
status = 200
force = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
