$icomoon-font-path: "fonts" !default;
$fa-css-prefix: "fa";
$fa-inverse: #fff !default;

$fa-align-justify: "\f039";
$fa-angle-down: "\f107";
$fa-at: "\f1fa";
$fa-ban: "\f05e";
$fa-bars: "\f0c9";
$fa-calendar: "\f133";
$fa-camera: "\f030";
$fa-caret-left: "\f0d9";
$fa-caret-right: "\f0da";
$fa-check-circle: "\f058";
$fa-check: "\f00c";
$fa-chevron-down: "\f078";
$fa-clock: "\f017";
$fa-download: "\f019";
$fa-edit: "\f044";
$fa-envelope-open: "\f2b6";
$fa-envelope: "\f0e0";
$fa-exclamation-circle: "\f06a";
$fa-exclamation-triangle: "\f071";
$fa-exclamation: "\f12a";
$fa-fax: "\f1ac";
$fa-graduation-cap: "\f19d";
$fa-info-circle: "\f05a";
$fa-info: "\f129";
$fa-level-down-alt: "\f3be";
$fa-level-up-alt: "\f3bf";
$fa-lock-open: "\f3c1";
$fa-lock: "\f023";
$fa-pencil-alt: "\f303";
$fa-question-circle: "\f059";
$fa-question: "\f128";
$fa-redo-alt: "\f2f9";
$fa-redo: "\f01e";
$fa-share-square: "\f14d";
$fa-share: "\f064";
$fa-shopping-bag: "\f290";
$fa-sign-out-alt: "\f2f5";
$fa-sort-down: "\f0dd";
$fa-spinner: "\f110";
$fa-sync-alt: "\f2f1";
$fa-sync: "\f021";
$fa-tablet-alt: "\f3fa";
$fa-tablet: "\f10a";
$fa-times-circle: "\f057";
$fa-times: "\f00d";
$fa-undo-alt: "\f2ea";
$fa-undo: "\f0e2";
$fa-unlock-alt: "\f13e";
$fa-unlock: "\f09c";
$fa-user: "\f007";


@font-face {
  font-family: 'Font-Awesome';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src:  url('#{$icomoon-font-path}/Font-Awesome.eot?7hahan');
  src:  url('#{$icomoon-font-path}/Font-Awesome.eot?7hahan#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/Font-Awesome.ttf?7hahan') format('truetype'),
    url('#{$icomoon-font-path}/Font-Awesome.woff?7hahan') format('woff'),
    url('#{$icomoon-font-path}/Font-Awesome.svg?7hahan#Font-Awesome') format('svg');
  // font-weight: normal;
  // font-style: normal;
}

@import 'icon-mixins';



.fa, .fas {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font-Awesome' !important;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-display: auto;

  /* Better Font Rendering =========== */
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

// Icon Sizes
// -------------------------

// makes the font 33% larger relative to the icon container
.#{$fa-css-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -.0667em;
}

.#{$fa-css-prefix}-xs {
  font-size: .75em;
}

.#{$fa-css-prefix}-sm {
  font-size: .875em;
}

@for $i from 1 through 10 {
  .#{$fa-css-prefix}-#{$i}x {
    font-size: $i * 1em;
  }
}

// Animated Icons
// --------------------------

.#{$fa-css-prefix}-spin {
  animation: fa-spin 2s infinite linear;
}

.#{$fa-css-prefix}-pulse {
  animation: fa-spin 1s infinite steps(8);
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// Rotated & Flipped Icons
// -------------------------

.#{$fa-css-prefix}-rotate-90  { @include fa-icon-rotate(90deg, 1);  }
.#{$fa-css-prefix}-rotate-180 { @include fa-icon-rotate(180deg, 2); }
.#{$fa-css-prefix}-rotate-270 { @include fa-icon-rotate(270deg, 3); }

.#{$fa-css-prefix}-flip-horizontal { @include fa-icon-flip(-1, 1, 0); }
.#{$fa-css-prefix}-flip-vertical   { @include fa-icon-flip(1, -1, 2); }
.#{$fa-css-prefix}-flip-horizontal.#{$fa-css-prefix}-flip-vertical { @include fa-icon-flip(-1, -1, 2); }

// Hook for IE8-9
// -------------------------

:root {
  .#{$fa-css-prefix}-rotate-90,
  .#{$fa-css-prefix}-rotate-180,
  .#{$fa-css-prefix}-rotate-270,
  .#{$fa-css-prefix}-flip-horizontal,
  .#{$fa-css-prefix}-flip-vertical {
    filter: none;
  }
}

// Stacked Icons
// -------------------------

.#{$fa-css-prefix}-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.#{$fa-css-prefix}-stack-1x,
.#{$fa-css-prefix}-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.#{$fa-css-prefix}-stack-1x {
  line-height: inherit;
}

.#{$fa-css-prefix}-stack-2x {
  font-size: 2em;
}

.#{$fa-css-prefix}-inverse {
  color: $fa-inverse;
}


.fa-align-justify {
  &:before {
    content: $fa-align-justify;
  }
}
.fa-angle-down {
  &:before {
    content: $fa-angle-down;
  }
}
.fa-at {
  &:before {
    content: $fa-at;
  }
}
.fa-ban {
  &:before {
    content: $fa-ban;
  }
}
.fa-bars {
  &:before {
    content: $fa-bars;
  }
}
.fa-calendar {
  &:before {
    content: $fa-calendar;
  }
}
.fa-camera {
  &:before {
    content: $fa-camera;
  }
}
.fa-caret-left {
  &:before {
    content: $fa-caret-left;
  }
}
.fa-caret-right {
  &:before {
    content: $fa-caret-right;
  }
}
.fa-check-circle {
  &:before {
    content: $fa-check-circle;
  }
}
.fa-check {
  &:before {
    content: $fa-check;
  }
}
.fa-chevron-down {
  &:before {
    content: $fa-chevron-down;
  }
}
.fa-clock {
  &:before {
    content: $fa-clock;
  }
}
.fa-download {
  &:before {
    content: $fa-download;
  }
}
.fa-edit {
  &:before {
    content: $fa-edit;
  }
}
.fa-envelope-open {
  &:before {
    content: $fa-envelope-open;
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope;
  }
}
.fa-exclamation-circle {
  &:before {
    content: $fa-exclamation-circle;
  }
}
.fa-exclamation-triangle {
  &:before {
    content: $fa-exclamation-triangle;
  }
}
.fa-exclamation {
  &:before {
    content: $fa-exclamation;
  }
}
.fa-fax {
  &:before {
    content: $fa-fax;
  }
}
.fa-graduation-cap {
  &:before {
    content: $fa-graduation-cap;
  }
}
.fa-info-circle {
  &:before {
    content: $fa-info-circle;
  }
}
.fa-info {
  &:before {
    content: $fa-info;
  }
}
.fa-level-down-alt {
  &:before {
    content: $fa-level-down-alt;
  }
}
.fa-level-up-alt {
  &:before {
    content: $fa-level-up-alt;
  }
}
.fa-lock-open {
  &:before {
    content: $fa-lock-open;
  }
}
.fa-lock {
  &:before {
    content: $fa-lock;
  }
}
.fa-pencil-alt {
  &:before {
    content: $fa-pencil-alt;
  }
}
.fa-question-circle {
  &:before {
    content: $fa-question-circle;
  }
}
.fa-question {
  &:before {
    content: $fa-question;
  }
}
.fa-redo-alt {
  &:before {
    content: $fa-redo-alt;
  }
}
.fa-redo {
  &:before {
    content: $fa-redo;
  }
}
.fa-share-square {
  &:before {
    content: $fa-share-square;
  }
}
.fa-share {
  &:before {
    content: $fa-share;
  }
}
.fa-shopping-bag {
  &:before {
    content: $fa-shopping-bag;
  }
}
.fa-sign-out-alt {
  &:before {
    content: $fa-sign-out-alt;
  }
}
.fa-sort-down {
  &:before {
    content: $fa-sort-down;
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner;
  }
}
.fa-sync-alt {
  &:before {
    content: $fa-sync-alt;
  }
}
.fa-sync {
  &:before {
    content: $fa-sync;
  }
}
.fa-tablet-alt {
  &:before {
    content: $fa-tablet-alt;
  }
}
.fa-tablet {
  &:before {
    content: $fa-tablet;
  }
}
.fa-times-circle {
  &:before {
    content: $fa-times-circle;
  }
}
.fa-times {
  &:before {
    content: $fa-times;
  }
}
.fa-undo-alt {
  &:before {
    content: $fa-undo-alt;
  }
}
.fa-undo {
  &:before {
    content: $fa-undo;
  }
}
.fa-unlock-alt {
  &:before {
    content: $fa-unlock-alt;
  }
}
.fa-unlock {
  &:before {
    content: $fa-unlock;
  }
}
.fa-user {
  &:before {
    content: $fa-user;
  }
}

