// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$vfa: #243a89 !default;
$vfa-invert: findColorInvert($vfa);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "vfa": ($vfa, $vfa-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-visited: $grey;
$link-focus-border: $primary;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// Import Bulma and Buefy styles
@import "~bulma";
// @import "~buefy/src/scss/buefy";

@import "~buefy/src/scss/utils/_functions.scss";
// @import "~buefy/src/scss/utils/_variables.scss";
@import "~buefy/src/scss/utils/_helpers.scss";
@import "~buefy/src/scss/utils/_animations.scss";

@import "~buefy/src/scss/components/_autocomplete";
@import "~buefy/src/scss/components/_checkbox";
@import "~buefy/src/scss/components/_collapse";
@import "~buefy/src/scss/components/_datepicker";
@import "~buefy/src/scss/components/_dialog";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_form";
@import "~buefy/src/scss/components/_icon";
@import "~buefy/src/scss/components/_loading";
@import "~buefy/src/scss/components/_message";
@import "~buefy/src/scss/components/_modal";
@import "~buefy/src/scss/components/_notices";
@import "~buefy/src/scss/components/_pagination";
@import "~buefy/src/scss/components/_panel";
@import "~buefy/src/scss/components/_radio";
@import "~buefy/src/scss/components/_select";
@import "~buefy/src/scss/components/_switch";
@import "~buefy/src/scss/components/_table";
@import "~buefy/src/scss/components/_tabs";
@import "~buefy/src/scss/components/_tag";
@import "~buefy/src/scss/components/_taginput";
@import "~buefy/src/scss/components/_timepicker";
@import "~buefy/src/scss/components/_tooltip";
@import "~buefy/src/scss/components/_upload";
