@import "~bulma/sass/utilities/_all.sass";
// Set your colors
$vfa: hsl(227, 59%, 22%);
$twitter: hsl(212, 99%, 63%);
$secondary: hsl(7, 76%, 43%);
$red: #bf2e1a;

$vfa-invert: findColorInvert($vfa);
$twitter-invert: findColorInvert($twitter);
$secondary-invert: findColorInvert($secondary);
$red-invert: findColorInvert($red);
$vfalight: hsl(227, 58%, 34%);
$vfalight-invert: findColorInvert($vfalight);
$semitransparent: hsla(0, 0%, 96%, 0.45);
$semitransparent-invert: $black;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($red, $red-invert),
  "vfa": ($vfa, $vfa-invert),
  "vfalight": ($vfalight, $vfalight-invert),
  "secondary":($secondary, $secondary-invert),
  "semitransparent": ($semitransparent, $semitransparent-invert)
);

// Links
$link: $vfa;
$link-invert: $white;
$link-visited: $grey;
$link-focus-border: $vfa;
$tabs-link-color: $white;

// Tabs

$tabs-link-color: $vfa;
$tabs-link-active-color: $white;
$tabs-boxed-link-radius: $radius;
$tabs-boxed-link-hover-background-color: $background;
$tabs-boxed-link-hover-border-bottom-color: $vfa;

$tabs-boxed-link-active-background-color: $vfa;
$tabs-boxed-link-active-border-color: $vfa;
$tabs-boxed-link-active-border-bottom-color: transparent;

// navbar item
// $navbar-item-color: $white;
// $navbar-item-hover-color: $white;
// $navbar-item-hover-background-color: $vfa;

// .navbar
// +touch
//   .navbar-menu
//     background-color: $vfa;

$speed-slow: 150ms;
$speed-slower: 250ms;

@import "~bulma";
@import "~buefy/src/scss/buefy";

.flag-icon {
  width: 3rem;
  height: 100%;
  line-height: inherit;
}

.flag-icon.fa-3x {
  width: 4.3rem;
}

.flag-icon.fa-2x {
  width: 3.4rem;
}

.flag-container {
  height: 2.2rem;
  width: 3rem;
}

.flag-container.is-large {
  height: 3.4rem;
  width: 4.3rem;
}

.flag-container.is-medium {
  height: 2.9rem;
  width: 3.4rem;
}

.flag-container.is-small {
  height: 1.5rem;
  width: 2rem;
}

.calendar {
  border-width: .5px;
  border-color: $light;
  display: inline-block;
  border-style: outset;
  margin: 1px 8px -6px -10px;
  box-shadow: 2px 2px $light;
  min-width: 3rem;
}

.calendar-month {
  background-color: $red;
  color: $white;
  font-weight: bold;
  font-size: .75rem;
  line-height: .7rem;
  padding: .1rem .2rem;
  text-align: center;
}

.calendar-date {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.8rem;
}
