@import "~bulma/sass/utilities/_all.sass";
// Set your colors
$vfa: hsl(227, 59%, 22%);
// $primary:$vfa;
// $primary: hsl(229, 72%, 51%);
$primary: #e94e3c;
$twitter: hsl(212, 99%, 63%);
$secondary: hsl(7, 76%, 43%);
$red: #bf2e1a;

$vfa-invert: findColorInvert($vfa);
$twitter-invert: findColorInvert($twitter);
$secondary-invert: findColorInvert($secondary);
$red-invert: findColorInvert($red);
$vfalight: lighten($vfa, 65%);
$vfalight-invert: findColorInvert($vfalight);
$semitransparent: hsla(0, 0%, 96%, 0.45);
$semitransparent-invert: $black;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($red, $red-invert),
  "vfa": ($vfa, $vfa-invert),
  "vfalight": ($vfalight, $vfalight-invert),
  "secondary":($secondary, $secondary-invert),
  "semitransparent": ($semitransparent, $semitransparent-invert)
);

// Links
$link: $vfa;
$link-invert: $white;
$link-visited: $grey;
$link-focus-border: $vfa;
$tabs-link-color: $white;

// Tabs

$tabs-link-color: $vfa;
$tabs-link-active-color: $white;
$tabs-border-bottom-width: 1px;
$tabs-boxed-link-radius: $radius;
$tabs-boxed-link-hover-background-color: $background;
$tabs-boxed-link-hover-border-bottom-color: $vfa;

$tabs-boxed-link-active-background-color: $vfa;
$tabs-boxed-link-active-border-color: $vfa;
$tabs-boxed-link-active-border-bottom-color: $vfa;

// navbar item
// $navbar-item-color: $white;
// $navbar-item-hover-color: $white;
// $navbar-item-hover-background-color: $vfa;

// .navbar
// +touch
//   .navbar-menu
//     background-color: $vfa;

$speed-slow: 150ms;
$speed-slower: 250ms;

// $fa-font-path: "./webfonts";

@import "~bulma";
@import "~buefy/src/scss/buefy";
// @import "./fa/fontawesome.scss";
// @import "./fa/fa-solid.scss";
// @import "./fa/fa-regular.scss";
// $flag-icon-css-path: '/flags';
// @import '../../node_modules/flag-icon-css/sass/flag-icon.scss';
// Flag icon CSS
$flag-icon-css-path: '/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  @extend .flag-icon-background;
  position: relative;
  display: inline-block;
  width: (4 / 3) * 1em;
  line-height: 1em;
  &:before {
    content: '\00a0';
  }
  &.flag-icon-squared {
    width: 1em;
  }
}

@mixin flag-icon($country) {
  .flag-icon-#{$country} {
    background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/#{$country}.svg);
    &.flag-icon-squared {
      background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/#{$country}.svg);
    }
  }
}

@include flag-icon(ad);
@include flag-icon(ae);
@include flag-icon(af);
@include flag-icon(ag);
@include flag-icon(ai);
@include flag-icon(al);
@include flag-icon(am);
@include flag-icon(ao);
@include flag-icon(aq);
@include flag-icon(ar);
@include flag-icon(as);
@include flag-icon(at);
@include flag-icon(au);
@include flag-icon(aw);
@include flag-icon(ax);
@include flag-icon(az);
@include flag-icon(ba);
@include flag-icon(bb);
@include flag-icon(bd);
@include flag-icon(be);
@include flag-icon(bf);
@include flag-icon(bg);
@include flag-icon(bh);
@include flag-icon(bi);
@include flag-icon(bj);
@include flag-icon(bl);
@include flag-icon(bm);
@include flag-icon(bn);
@include flag-icon(bo);
@include flag-icon(bq);
@include flag-icon(br);
@include flag-icon(bs);
@include flag-icon(bt);
@include flag-icon(bv);
@include flag-icon(bw);
@include flag-icon(by);
@include flag-icon(bz);
@include flag-icon(ca);
@include flag-icon(cc);
@include flag-icon(cd);
@include flag-icon(cf);
@include flag-icon(cg);
@include flag-icon(ch);
@include flag-icon(ci);
@include flag-icon(ck);
@include flag-icon(cl);
@include flag-icon(cm);
@include flag-icon(cn);
@include flag-icon(co);
@include flag-icon(cr);
@include flag-icon(cu);
@include flag-icon(cv);
@include flag-icon(cw);
@include flag-icon(cx);
@include flag-icon(cy);
@include flag-icon(cz);
@include flag-icon(de);
@include flag-icon(dj);
@include flag-icon(dk);
@include flag-icon(dm);
@include flag-icon(do);
@include flag-icon(dz);
@include flag-icon(ec);
@include flag-icon(ee);
@include flag-icon(eg);
@include flag-icon(eh);
@include flag-icon(er);
@include flag-icon(es);
@include flag-icon(et);
@include flag-icon(fi);
@include flag-icon(fj);
@include flag-icon(fk);
@include flag-icon(fm);
@include flag-icon(fo);
@include flag-icon(fr);
@include flag-icon(ga);
@include flag-icon(gb);
@include flag-icon(gd);
@include flag-icon(ge);
@include flag-icon(gf);
@include flag-icon(gg);
@include flag-icon(gh);
@include flag-icon(gi);
@include flag-icon(gl);
@include flag-icon(gm);
@include flag-icon(gn);
@include flag-icon(gp);
@include flag-icon(gq);
@include flag-icon(gr);
@include flag-icon(gs);
@include flag-icon(gt);
@include flag-icon(gu);
@include flag-icon(gw);
@include flag-icon(gy);
@include flag-icon(hk);
@include flag-icon(hm);
@include flag-icon(hn);
@include flag-icon(hr);
@include flag-icon(ht);
@include flag-icon(hu);
@include flag-icon(id);
@include flag-icon(ie);
@include flag-icon(il);
@include flag-icon(im);
@include flag-icon(in);
@include flag-icon(io);
@include flag-icon(iq);
@include flag-icon(ir);
@include flag-icon(is);
@include flag-icon(it);
@include flag-icon(je);
@include flag-icon(jm);
@include flag-icon(jo);
@include flag-icon(jp);
@include flag-icon(ke);
@include flag-icon(kg);
@include flag-icon(kh);
@include flag-icon(ki);
@include flag-icon(km);
@include flag-icon(kn);
@include flag-icon(kp);
@include flag-icon(kr);
@include flag-icon(kw);
@include flag-icon(ky);
@include flag-icon(kz);
@include flag-icon(la);
@include flag-icon(lb);
@include flag-icon(lc);
@include flag-icon(li);
@include flag-icon(lk);
@include flag-icon(lr);
@include flag-icon(ls);
@include flag-icon(lt);
@include flag-icon(lu);
@include flag-icon(lv);
@include flag-icon(ly);
@include flag-icon(ma);
@include flag-icon(mc);
@include flag-icon(md);
@include flag-icon(me);
@include flag-icon(mf);
@include flag-icon(mg);
@include flag-icon(mh);
@include flag-icon(mk);
@include flag-icon(ml);
@include flag-icon(mm);
@include flag-icon(mn);
@include flag-icon(mo);
@include flag-icon(mp);
@include flag-icon(mq);
@include flag-icon(mr);
@include flag-icon(ms);
@include flag-icon(mt);
@include flag-icon(mu);
@include flag-icon(mv);
@include flag-icon(mw);
@include flag-icon(mx);
@include flag-icon(my);
@include flag-icon(mz);
@include flag-icon(na);
@include flag-icon(nc);
@include flag-icon(ne);
@include flag-icon(nf);
@include flag-icon(ng);
@include flag-icon(ni);
@include flag-icon(nl);
@include flag-icon(no);
@include flag-icon(np);
@include flag-icon(nr);
@include flag-icon(nu);
@include flag-icon(nz);
@include flag-icon(om);
@include flag-icon(pa);
@include flag-icon(pe);
@include flag-icon(pf);
@include flag-icon(pg);
@include flag-icon(ph);
@include flag-icon(pk);
@include flag-icon(pl);
@include flag-icon(pm);
@include flag-icon(pn);
@include flag-icon(pr);
@include flag-icon(ps);
@include flag-icon(pt);
@include flag-icon(pw);
@include flag-icon(py);
@include flag-icon(qa);
@include flag-icon(re);
@include flag-icon(ro);
@include flag-icon(rs);
@include flag-icon(ru);
@include flag-icon(rw);
@include flag-icon(sa);
@include flag-icon(sb);
@include flag-icon(sc);
@include flag-icon(sd);
@include flag-icon(se);
@include flag-icon(sg);
@include flag-icon(sh);
@include flag-icon(si);
@include flag-icon(sj);
@include flag-icon(sk);
@include flag-icon(sl);
@include flag-icon(sm);
@include flag-icon(sn);
@include flag-icon(so);
@include flag-icon(sr);
@include flag-icon(ss);
@include flag-icon(st);
@include flag-icon(sv);
@include flag-icon(sx);
@include flag-icon(sy);
@include flag-icon(sz);
@include flag-icon(tc);
@include flag-icon(td);
@include flag-icon(tf);
@include flag-icon(tg);
@include flag-icon(th);
@include flag-icon(tj);
@include flag-icon(tk);
@include flag-icon(tl);
@include flag-icon(tm);
@include flag-icon(tn);
@include flag-icon(to);
@include flag-icon(tr);
@include flag-icon(tt);
@include flag-icon(tv);
@include flag-icon(tw);
@include flag-icon(tz);
@include flag-icon(ua);
@include flag-icon(ug);
@include flag-icon(um);
@include flag-icon(us);
@include flag-icon(uy);
@include flag-icon(uz);
@include flag-icon(va);
@include flag-icon(vc);
@include flag-icon(ve);
@include flag-icon(vg);
@include flag-icon(vi);
@include flag-icon(vn);
@include flag-icon(vu);
@include flag-icon(wf);
@include flag-icon(ws);
@include flag-icon(xk);
@include flag-icon(ye);
@include flag-icon(yt);
@include flag-icon(za);
@include flag-icon(zm);
@include flag-icon(zw);
// more
@include flag-icon(es-ct);
@include flag-icon(eu);
@include flag-icon(gb-eng);
@include flag-icon(gb-nir);
@include flag-icon(gb-sct);
@include flag-icon(gb-wls);
@include flag-icon(un);





@media screen and (min-width: $desktop){
  .navbar.is-vfa {
    .navbar-item.has-dropdown .navbar-link,
    .navbar-item.has-dropdown .navbar-link,
    .navbar-tabs .navbar-item {
      color: $white;
      &:hover,
      &.is-active {
        background-color: $white;
        color: $vfa;
        &.is-tab {
          background-color: transparent;
          color: $white;
          border-bottom-color: $white;
        }
      }
    }
  }
}
@media screen and (max-width: $desktop - 1px){
.navbar-item,
.navbar-link {
  color: $vfa;
}
}

@include mobile() {
  .media {
    flex-direction: column;
  }

  .media-right {
    margin: 0 0 0.5rem;
  }

  .breadcrumb span {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9ch;
  }
}

// .flag-icon
//   width: 3.8em;
//   height: 100%;
//   line-height: inherit;
.flag-icon {
  width: 3rem;
  height: 100%;
  line-height: inherit;
}

.flag-icon.fa-3x {
  width: 4.3rem;
}

.flag-icon.fa-2x {
  width: 3.4rem;
}

.flag-container {
  height: 2.2rem;
  width: 3rem;
}

.flag-container.is-large {
  height: 3.4rem;
  width: 4.3rem;
}

.flag-container.is-medium {
  height: 2.9rem;
  width: 3.4rem;
}

.flag-container.is-small {
  height: 1.5rem;
  width: 2rem;
}

.calendar {
  border-width: .5px;
  border-color: $light;
  display: inline-block;
  border-style: outset;
  margin: 1px 8px -6px -10px;
  box-shadow: 2px 2px $light;
  min-width: 2.6rem;
}

.calendar-month {
  background-color: $red;
  color: $white;
  font-weight: bold;
  font-size: .75rem;
  line-height: .7rem;
  padding: .1rem .1rem;
  text-align: center;
}

.calendar-date {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5rem;
}

.tabs a {
  margin-bottom: 0;
}

.test-enter-active, .test-leave-active {
  transition: opacity .4s;
}
.test-enter, .test-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bg-image {
  // background: #23569D url('~/assets/votefromabroad-bg.jpg') no-repeat center top;
  background: #23569D url('//res.cloudinary.com/democratsabroad/image/upload/f_auto,q_auto/v1521002249/votefromabroad-bg.jpg') no-repeat center top;
  // min-height: 611px;
  // height: 970px;
  background-size: cover;
}

.navbar-item.logo {
  background-image: url(/vfa_blue.svg);
  // background-color: hsl(227, 59%, 22%);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 40vw;
  min-height: 3.25rem;
  margin: 1.25rem auto 0;
  flex-grow: 1;
  &:hover{
    background-image: url(/vfa_white.svg);
    background-color: hsl(227, 59%, 22%);
  }
}

.navbar-item.logo.is-active {
    background-color: transparent!important;
}
.tabs:not(:last-child){
  margin-bottom: 0;
}

.bg {
  background-color: #fff;
}
