@import "~bulma/sass/utilities/_all.sass";
// Set your colors
$vfa: hsl(227, 59%, 22%);
// $primary:$vfa;
// $primary: hsl(229, 72%, 51%);
$primary: #e94e3c;
$twitter: hsl(212, 99%, 63%);
$secondary: hsl(7, 76%, 43%);
$red: #bf2e1a;

$vfa-invert: findColorInvert($vfa);
$twitter-invert: findColorInvert($twitter);
$secondary-invert: findColorInvert($secondary);
$red-invert: findColorInvert($red);
$vfalight: lighten($vfa, 65%);
$vfalight-invert: findColorInvert($vfalight);
$semitransparent: hsla(0, 0%, 96%, 0.45);
$semitransparent-invert: $black;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "link": ($link, $link-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($red, $red-invert),
  "vfa": ($vfa, $vfa-invert),
  "vfalight": ($vfalight, $vfalight-invert),
  "secondary":($secondary, $secondary-invert),
  "semitransparent": ($semitransparent, $semitransparent-invert)
);

// Links
$link: $vfa;
$link-invert: $white;
$link-visited: $grey;
$link-focus-border: $vfa;
$tabs-link-color: $white;

// Tabs

$tabs-link-color: $vfa;
$tabs-link-active-color: $white;
$tabs-border-bottom-width: 1px;
$tabs-boxed-link-radius: $radius;
$tabs-boxed-link-hover-background-color: $background;
$tabs-boxed-link-hover-border-bottom-color: $vfa;

$tabs-boxed-link-active-background-color: $vfa;
$tabs-boxed-link-active-border-color: $vfa;
$tabs-boxed-link-active-border-bottom-color: $vfa;

// navbar item
// $navbar-item-color: $white;
// $navbar-item-hover-color: $white;
// $navbar-item-hover-background-color: $vfa;

// .navbar
// +touch
//   .navbar-menu
//     background-color: $vfa;

$speed-slow: 150ms;
$speed-slower: 250ms;

$fa-font-path: "./webfonts";

@import "~bulma";
// @import "~bulma-slider/slider.sass";
@import "~buefy/src/scss/buefy";
// @import "~@fortawesome/fontawesome/styles.css";
@import "./fa/fontawesome.scss";
@import "./fa/fa-solid.scss";
@import "./fa/fa-regular.scss";
$flag-icon-css-path: '/flags';
@import '../../node_modules/flag-icon-css/sass/flag-icon.scss';

@media screen and (min-width: $desktop){
  .navbar.is-vfa {
    .navbar-item.has-dropdown .navbar-link,
    .navbar-item.has-dropdown .navbar-link,
    .navbar-tabs .navbar-item {
      color: $white;
      &:hover,
      &.is-active {
        background-color: $white;
        color: $vfa;
        &.is-tab {
          background-color: transparent;
          color: $white;
          border-bottom-color: $white;
        }
      }
    }
  }
}
@media screen and (max-width: $desktop - 1px){
.navbar-item,
.navbar-link {
  color: $vfa;
}
}

@include mobile() {
  .media {
    flex-direction: column;
  }

  .media-right {
    margin: 0 0 0.5rem;
  }

  .breadcrumb span {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9ch;
  }
}

// .flag-icon
//   width: 3.8em;
//   height: 100%;
//   line-height: inherit;
.flag-icon {
  width: 3rem;
  height: 100%;
  line-height: inherit;
}

.flag-icon.fa-3x {
  width: 4.3rem;
}

.flag-icon.fa-2x {
  width: 3.4rem;
}

.flag-container {
  height: 2.2rem;
  width: 3rem;
}

.flag-container.is-large {
  height: 3.4rem;
  width: 4.3rem;
}

.flag-container.is-medium {
  height: 2.9rem;
  width: 3.4rem;
}

.flag-container.is-small {
  height: 1.5rem;
  width: 2rem;
}

.calendar {
  border-width: .5px;
  border-color: $light;
  display: inline-block;
  border-style: outset;
  margin: 1px 8px -6px -10px;
  box-shadow: 2px 2px $light;
  min-width: 2.6rem;
}

.calendar-month {
  background-color: $red;
  color: $white;
  font-weight: bold;
  font-size: .75rem;
  line-height: .7rem;
  padding: .1rem .1rem;
  text-align: center;
}

.calendar-date {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5rem;
}

.tabs a {
  margin-bottom: 0;
}

.test-enter-active, .test-leave-active {
  transition: opacity .4s;
}
.test-enter, .test-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bg-image {
  // background: #23569D url('~/assets/votefromabroad-bg.jpg') no-repeat center top;
  background: #23569D url('//res.cloudinary.com/democratsabroad/image/upload/f_auto,q_auto/v1521002249/votefromabroad-bg.jpg') no-repeat center top;
  // min-height: 611px;
  // height: 970px;
  background-size: cover;
}

.navbar-item.logo {
  background-image: url(/vfa_blue.svg);
  // background-color: hsl(227, 59%, 22%);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 40vw;
  min-height: 3.25rem;
  margin: 1.25rem auto 0;
  flex-grow: 1;
  &:hover{
    background-image: url(/vfa_white.svg);
    background-color: hsl(227, 59%, 22%);
  }
}

.navbar-item.logo.is-active {
    background-color: transparent!important;
}
.tabs:not(:last-child){
  margin-bottom: 0;
}

.bg {
  background-color: #fff;
}
